
/*body*/

  body {
    background-image: url("../images/backgroundimage.png");
    margin: 0 auto;
  }



/*nav bar*/

.container {
  width: 80%;
  margin: 0 auto;
}  



h1 {
  padding: 30px;
  
}

.h1Div {
  background-color: white;
  /*margin: 50px;*/
  position: relative;  
  margin: 0; 

}

header {
  background-color: grey;
}

header::after {
content: '';
display: table;
clear: both;

}

nav {  
  float:  right;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 30px;
}

  nav a {
    
    text-decoration: none;
    color: black;
    text-transform: : uppercase;

  }

  nav a:hover {
    color: white;
  }



/*left container*/

.profileImg {
    height: 40%;
    width: 40%; 
    float: left;
    padding: 0 20px 0 20px;
    }


.logo {
  float: left;
  /*display: inline-block;*/
  
}

hr.style1 {
 border-top: 1px solid #8c8b8b;
 margin-left: 16px;
}


  h2, h3 {
    color: #4aaaa5;
    font-family: 'Georgia';
    margin: 0;
    padding: 0px 0px 1px 20px
  }
  
  p {
    font-family: 'Arial';
  }

  .aboutMeText {
    padding-top: 10px
  }

  

  .leftDiv {
  	float: left;
    margin-left: 114px;
    margin-right: 400px;
    margin-top: 40px;   
    border: hidden;
    background-color: white;
    padding: 60px 30px 30px 20px
    
  
  }

  /*Connect with me container*/

  .rightDiv {
  	float: right;
  }




/*social media icons*/

.imgSocial {
  height: 60px;
  width: 60px;
}

.imgStack {
  height: 55px
  width: 55px;
}

/*footer*/

.footerDiv {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: grey;
  margin: 0;
  width: 100%;
  text-align: center;
}



  
